<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings><add name="MotorMechsEntities" connectionString="metadata=res://*/Entity.MotorMechs.csdl|res://*/Entity.MotorMechs.ssdl|res://*/Entity.MotorMechs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=182.18.187.102;initial catalog=MotorMechs;persist security info=True;user id=MotorMechs;password=motor@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <!--<add name="MotorMechsEntities" connectionString="metadata=res://*/Entity.MotorMechs.csdl|res://*/Entity.MotorMechs.ssdl|res://*/Entity.MotorMechs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=182.18.187.102;initial catalog=MotorMechs;persist security info=True;user id=MotorMechs;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="MotorMechsEntities" connectionString="metadata=res://*/Entity.MotorMechs.csdl|res://*/Entity.MotorMechs.ssdl|res://*/Entity.MotorMechs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8T71L3U;initial catalog=MotorMechs;persist security info=True;user id=sa;password=rakfali;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>