<navigation></navigation>
<div class="container" ng-init="vm.IsAdmin=authentication.checkRole()">
    <div class="row">
        <div class="col-md-6">
            <h1>Task List </h1>
            <p class="lead">Add New Task</p>
            <form ng-submit="vm.onSubmit()" ng-show="vm.isAdmin">
                <div class="form-group">
                    <label for="title">Task Title</label>
                    <input type="text" class="form-control" id="title" placeholder="task Title" ng-model="vm.task.title">
                </div>
                <div class="form-group">
                    <label for="description">Task Description</label>
                    <input type="text" class="form-control" id="description" placeholder="Task Description" ng-model="vm.task.description">
                </div>
                <button type="submit" class="btn btn-default" ng-hide="vm.isEdit">Save!</button >
                <button type="submit" class="btn btn-default" ng-show="vm.isEdit">Update!</button>
                <button type="submit" class="btn btn-default" ng-show="vm.isEdit" ng-click="!vm.isEdit">Cancel!</button >
            </form>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="col-md-6">
           
        <table class="table table-responsive table-bordered" >
            <thead>
                <tr>
                    <td>Task Title</td>
                    <td>Task Description</td>
                    <td ng-show="vm.isAdmin"></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.taskList" >
                    <td>{{item.title}}</td>
                    <td>{{item.description}}</td>
                    <td ng-show="vm.isAdmin"><input type="button" ng-click="vm.onEdit(item)" value="Edit" /></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
