@{
    ViewBag.Title = "Home";
}
<div class="row" >
    <hr />
    <h4 class="text-center">CARGOCLIX.COM</h4>
    <hr />
    <h4 class="text-center">CARGOCLIX SLOT Mobile App</h4>
</div>
<div class="row">

    <div style="padding:0 10px;">
        <hr />
        <a href="Login">
            <div class="pull-left">Login with telephone number</div>
            <div class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>

<div class="row">

    <div style="padding:0 10px;">
        <hr />
        <a href="Login">
            <div class="pull-left">Login with own account</div>
            <div class="pull-right"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>

