
@{
    ViewBag.Title = "login";
}

<h2>login</h2>

<div class="row">
    <div >
        <span>Phone Number</span>
        <p><input type="text" placeholder="Enter phone number" ng-model="phone" /></p>
    </div>
</div>
<div class="row">
    <div >
        <span>Password</span>
        <p><input type="password" placeholder="Enter password" ng-model="password" />        </p>
    </div>
</div>
<div class="row">
    <div >
        <input type="button" value="Submit" ng-click="Login()" />
    </div>
</div>