@{
    ViewBag.Title = "AboutUs";
}

<section id="aboutUs">
    <div class="container">
        <div class="heading text-center">
            <!-- Heading -->
            <h2>About Us</h2>
            <p>At lorem Ipsum available, but the majority have suffered alteration in some form by injected humour.</p>
        </div>
        <div class="row feature design">
            <div class="area1 columns right">
                <h3>Clean and Modern Design.</h3>
                <p>
                    Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                    Nec et jority have suffered alteration.
                </p>
                <p>
                    Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
                    Nec et amet vidisse mentitumsstie percipitoleat fabulas.
                </p>
                <a href="#" class="btn">Download Apps</a>
                <a href="#" class="btn">Free Apps</a>
            </div>
            <div class="area2 columns feature-media left"> <img src="/Content/images/feature-img-1.png" alt="" width="100%"> </div>
        </div>
        <div class="row dataTxt">
            <div class="col-md-4 col-sm-6">
                <h4>What We Do?</h4>
                <p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod </p>
                <p>Lorem ipsum dolor sit amet, ea eum labitur scsstie percipitoleat fabulas complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea.</p>

                <br>
            </div>

            <div class="col-md-4 col-sm-6">

                <h4>Why Choose Us?</h4>
                <p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod </p>
                <ul class="listArrow">
                    <li>Lorem ipsum dolor consectetursit amet, consectet</li>
                    <li>Has molestie percipit an. Falli volumus efficiantur</li>
                    <li>Falli volumus efficiantur sed id, ad vel noster</li>
                    <li>Lorem ipsum dolor consectetursit amet, consectetur</li>
                    <li>Ius ut etiam vivendo, graeci iudicabit constitutoa</li>
                </ul>
                <!-- Accordion starts -->
            </div>

            <div class="col-md-4 col-sm-6">
                <h4>Our Expertise</h4>
                <p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod.</p>
                <h6>Web Designing</h6>
                <div class="progress pb-sm">
                    <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
                <h6>Responsive Design</h6>
                <div class="progress pb-sm">
                    <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
                <h6>Browser Compatability</h6>
                <div class="progress pb-sm">
                    <div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
