@{
    ViewBag.Title = "Services";
}

<section id="services" class="page-section colord">
    <div class="container">
        <div class="row">
            <!-- item -->
            <div class="col-md-3 text-center">
                <i class="circle"><img src="/Content/images/clock.png" alt="" /></i>
                <h3>Car Foam <span class="id-color">Wash</span></h3>
                <p>Interior dry vacuum cleaning</p>
                <p>Mats washing</p>
                <p>Dashboard & all four panels cleaning with wet cloath & polishing</p>
                <p>Exterior foam wash</p>
                <p>Wheel arcs cleaning</p>
                <p>Engine preasure wash</p>
                <p>Tire polish</p>
            </div>
            <!-- end: -->
            <!-- item -->
            <div class="col-md-3 text-center">
                <i class="circle"> <img src="/Content/images/eye.png" alt="" /></i>
                <h3>Detailed Interior <span class="id-color">cleaning</span></h3>
                <p>Car Foam Package</p>
                <p>Seats dashboard, door panels, glass pillar panel, seat belt pillal panel are thoroughly foamed</p>
            </div>
            <!-- end: -->
            <!-- item -->
            <div class="col-md-3 text-center">
                <i class="circle"> <img src="/Content/images/cart.png" alt="" /></i>
                <h3>Exterior Rubbing & <span class="id-color">Polishing</span></h3>
                <p>Car Foam Package</p>
                <p>Detailed Exterior Rubbing & Polishing</p>
            </div>
            <!-- end: -->
            <!-- item -->
            <div class="col-md-3 text-center">
                <i class="circle"> <img src="/Content/images/heart.png" alt="" /></i>
                <h3>Quick <span class="id-color">Servicing</span></h3>
                <p>Car Foam Package</p>
                <p>Engine tuning up</p>
                <p>Checking/Changing of Filters Oils & Lubricants</p>
                <p>Opening all 4 wheels to carry our brake cleaning</p>
                <p>Basic light check up</p>
                <p>Door greasing</p>
                <p>Suspension Checking/greasing</p>
            </div>
            <!-- end:-->
        </div>
    </div>
    <!--/.container-->
</section>